*{
   margin: auto 0;   
}
h1{
    display: flex;
    font-size: 32px;
    color: black;
    
}
#greeting{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    ;
}
.form-row{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    
}
.form-label{
    font-weight: 700;
    color:black;
    padding-left: 3em;
    font-size: 16px;
}
form{
    height: 300px;
    width: 250px;
    background-color:#0984e3;
}
input{
    margin-left: 3em;
}
button{
    
    background-color: #74b9ff;
    margin-left: 6em;
    margin-top: 2em;
}
    














